body {
    background-color: black;

    justify-content: center;
    align-items: center;
    text-align: center;

    display: flex;
}

* {
  font-family: sans-serif;
  user-select: none; 

  border: none;
}

button {
    border-radius: 15px;
    background-color: #4093FF;
    cursor: pointer;
    color:white;

    font-size: 2rem;

    padding: 15px;
    margin: 15px;

    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #b1d3ff;
    color: rgb(137, 137, 137);
}

input {
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    margin: 7px;

    width: 300px;

    color:white;

    outline: none;
}

h1 {
    font-size: 3.5rem;
}

.form {
    background-color: white;

    width: 500px;
    height: 600px;

    border-radius: 25px;
 
}